<!--When an account is verified during logging in, they are directed here and it displays as '/login' as well, NOT /secret.
Also allows for users to start a new game or return to their last save if eligible.--><body style="background-image: url(https://i.pinimg.com/originals/d5/60/44/d56044a5b5f62df707da4823ee84b2f4.jpg); align-content: center;">
<h1 style="vertical-align: middle; padding: 10px; list-style-type: none; background-color:#ccc; width: 25%; margin: 0 auto;">FABA The Game</h1>


<li style="vertical-align: middle; padding: 10px; list-style-type: none; background-color:#ccc; width: 25%; margin: 0 auto;"><button style="background-color: blanchedalmond; margin: auto; width: 50%; border: 3px solid green; padding: 20px 0; text-align: center;" onclick="window.location.href = 'http://localhost:3000/game';">New Game</button></li>
<li style="vertical-align: middle; padding: 10px; list-style-type: none; background-color:#ccc; width: 25%; margin: 0 auto;"><button style="background-color: blanchedalmond; margin: auto; width: 50%; border: 3px solid green; padding: 20px 0; text-align: center;" onclick="window.location.href = '/game';">Resume Game</button></li>
<li style="vertical-align: middle; padding: 10px; list-style-type: none; background-color:#ccc; width: 25%; margin: 0 auto;"><a href="/">Go back home</a></li>
<li style="vertical-align: middle; padding: 10px; list-style-type: none; background-color:#ccc; width: 25%; margin: 0 auto;"><a href="/leaderboard">Visit the leaderboards!</a></li>
<li style="vertical-align: middle; padding: 10px; list-style-type: none; background-color:#ccc; width: 25%; margin: 0 auto;"><a href="/profile">Need to edit your profile?</a></li>
<li style="vertical-align: middle; padding: 10px; list-style-type: none; background-color:#ccc; width: 25%; margin: 0 auto;"><a href="/logout">Logout</a></li>
</body>